/* Estilo do cabeçalho */
header {
  background-color: #333; /* Define a cor de fundo como cinza escuro */
  color: #fff; /* Define a cor do texto como branco */
  text-align: center; /* Centraliza o conteúdo horizontalmente */
  padding: 20px; /* Adiciona 20 pixels de espaço em branco dentro do elemento */
}

/* Estilo do título */
h1 {
  margin: 0; /* Remove as margens padrão do elemento */
  font-size: 40px; /* Define o tamanho da fonte como 40 pixels */
}

/* Estilo da navegação */
nav {
  background-color: #444; /* Define a cor de fundo como cinza escuro */
  padding: 20px; /* Adiciona 20 pixels de espaço em branco dentro do elemento */
}

nav ul {
  list-style: none; /* Remove a lista de marcadores padrão do elemento */
  margin: 0; /* Remove as margens padrão do elemento */
  padding: 0; /* Remove os espaços em branco padrão do elemento */
  display: flex; /* Usa o modelo de caixa flexível para a lista de itens */
  justify-content: center; /* Centraliza os itens horizontalmente */
  font-size: 20px;
}

nav li {
  margin: 0 30px; /* Adiciona uma margem de 0 pixels acima e abaixo e 30 pixels à esquerda e à direita */
}

nav a {
  color: #fff; /* Define a cor do texto como branco */
  text-decoration: none; /* Remove a decoração de texto padrão */
}

/* Estilo do conteúdo principal */
main {
  max-width: 800px; /* Define a largura máxima do elemento como 800 pixels */
  margin: 20px auto; /* Adiciona 20 pixels de margem acima e abaixo e centraliza o elemento horizontalmente */
  padding: 0 20px; /* Adiciona 0 pixels de espaço em branco acima e abaixo e 20 pixels à esquerda e à direita */
  text-align: justify; /* Justifica o texto horizontalmente */
}

/* Estilo do rodapé */
footer {
  background-color: #333; /* Define a cor de fundo como cinza escuro */
  color: #fff; /* Define a cor do texto como branco */
  text-align: center; /* Centraliza o conteúdo horizontalmente */
  padding: 7px; /* Adiciona 7 pixels de espaço em branco dentro do elemento */
}

p {
  font-size: 20px; /* Define o tamanho da fonte como 20 pixels para todos os parágrafos */
}

.logo, .titulo {
  display: inline-block; /* Define a exibição como bloco com o tamanho do conteúdo */
  vertical-align: middle; /* Alinha os elementos verticalmente no centro */
}

.logo {
  margin-right: 40px; /* Adiciona uma margem de 40 pixels à direita */
  border-radius: 50px;
}

.foto1{
  width: 500px; /* Define a largura da imagem como 500 pixels */
  height: 500px; /* Define a altura da imagem como 500 pixels */
}

.foto2{
  width: 500px; /* Define a largura da imagem como 500 pixels */
  height: 500px; /* Define a altura da imagem como 500 pixels */
}

.foto3{
  width: 500px; /* Define a largura da imagem como 500 pixels */
  height: 500px; /* Define a altura da imagem como 500 pixels */
 }

 .foto4{
  width: 500px; /* Define a largura da imagem como 500 pixels */
  height: 500px; /* Define a altura da imagem como 500 pixels */
  }
  